.card {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: calc(20% - 10px);
    height: auto;
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
  }
  
  .card:hover .overlay {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  .card .overlay .name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
  }