@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
 100% {
    transform: scale(1);
  }    
}

.h1-title {
margin-top: 3.5%;
}

.pokemon-form {
  background-color: #ffcb05;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

input[type="text"], button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
}

button {
  background-color: #cc0000;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a30000;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 1 calc(20% - 10px);
  margin: 5px;
  padding: 5px;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card img {
  width: 100%;
  height: auto;
}

.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  transition: opacity 0.5s ease;
}

.card:hover .overlay {
  visibility: visible;
  opacity: 1;
}

