.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e53d2f; /* pokeball red */
  border-radius: 5px;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}

.navItem {
  background-color: #4a4ae6; /* blue */
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0px 0px 10px #000;
  flex: 1; /* Add this to make the buttons expand to fill the space */
  margin: 0 5px; /* Add this to add some space between the buttons */
}

.navItem:hover {
  background-color: #3b3be3; /* darker blue */
  transform: scale(1.05);
}
