.App {
  text-align: center;
}

body {
  background-image: url('../../images/PokemonBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}