/* Define the header styles */
header {
  background-color: #0A285F;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
}

/* Define the h1 styles */
h1 {
  font-size: 48px;
}

/* Define the nav styles */
nav {
  background-color: #0075BE;
  color: #FFFFFF;
  padding: 10px;
}

/* Define the nav link styles */
nav a {
  color: #FFFFFF;
  margin-right: 20px;
  text-decoration: none;
}

/* Define the main styles */
main {
  background-color: #FFFFFF;
  color: #000000;
  padding: 20px;
}

/* Define the section styles */
section {
  margin-bottom: 20px;
}

/* Define the h2 styles */
h2 {
  color: #cc0000;
  font-size: 36px;
}

/* Define the p styles */
p {
  line-height: 1.5;
}

/* Define the footer styles */
footer {
  background-color: #B3A125;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
}

/* Define the footer link styles */
footer a {
  color: #FFFFFF;
  text-decoration: none;
}
